<configuration>
	<system.webServer>
		<rewrite>
			<rules>
				<rule name="ShortURLRewrite_cl " stopProcessing="true">
					<match url="^([^/]+)/?$"/>
					<conditions>
						<add input="{REQUEST_FILENAME}" matchType="IsFile" negate="true"/>
						<add input="{REQUEST_FILENAME}" matchType="IsDirectory" negate="true"/>
					</conditions>
					<action type="Rewrite" url="index.php?url={R:1}"/>
				</rule>
				<rule name="ShortURLRewrite" stopProcessing="true">
					<match url="^([^/]+)/([^/]+)/?$"/>
					<conditions>
						<add input="{REQUEST_FILENAME}" matchType="IsFile" negate="true"/>
						<add input="{REQUEST_FILENAME}" matchType="IsDirectory" negate="true"/>
					</conditions>
					<action type="Rewrite" url="index.php?url={R:1}/{R:2}"/>
				</rule>
				<rule name="LongURLRewrite_2el" stopProcessing="true">
					<match url="^([^/]+)/([^/]+)/([^/]+)/?$"/>
					<conditions>
						<add input="{REQUEST_FILENAME}" matchType="IsFile" negate="true"/>
						<add input="{REQUEST_FILENAME}" matchType="IsDirectory" negate="true"/>
					</conditions>
					<action type="Rewrite" url="index.php?url={R:1}/{R:2}/{R:3}"/>
				</rule>
				<rule name="LongURLRewrite_3el" stopProcessing="true">
					<match url="^([^/]+)/([^/]+)/([^/]+)/([^/]+)/?$"/>
					<conditions>
						<add input="{REQUEST_FILENAME}" matchType="IsFile" negate="true"/>
						<add input="{REQUEST_FILENAME}" matchType="IsDirectory" negate="true"/>
					</conditions>
					<action type="Rewrite" url="index.php?url={R:1}/{R:2}/{R:3}/{R:4}"/>
				</rule>
				<rule name="LongURLRewrite_4el" stopProcessing="true">
					<match url="^([^/]+)/([^/]+)/([^/]+)/([^/]+)/([^/]+)/?$"/>
					<conditions>
						<add input="{REQUEST_FILENAME}" matchType="IsFile" negate="true"/>
						<add input="{REQUEST_FILENAME}" matchType="IsDirectory" negate="true"/>
					</conditions>
					<action type="Rewrite" url="index.php?url={R:1}/{R:2}/{R:3}/{R:4}/{R:5}"/>
				</rule>
				
			</rules>
			<outboundRules>
				<preConditions>
					<preCondition name="ResponseIsHtml">
						<add input="{RESPONSE_CONTENT_TYPE}" pattern="^text/html"/>
					</preCondition>
				</preConditions>
			</outboundRules>
		</rewrite>
	</system.webServer>
</configuration>